# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
test-results.xml

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
pylint-report.txt

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Dataset directory
dataset/

# Jupyter runtime
*.jpynb
